/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    background-color: #3498db; /* Change this to any color code you prefer */
    padding: 15px; /* Optional: Adjust the padding as needed */
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background: url('../images/pool.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* Rooms */
#rooms {
    margin-top: 20px;
}

#rooms .room {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#rooms .room img {
    width: 100%;
}

/* Form */
.form-container {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.form-container h2 {
    text-align: center;
}

.form-container input[type="date"],
.form-container select,
.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.form-container button {
    background: #e8491d;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background: #35424a;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

/* Media Queries */
@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #rooms .room {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }
}
